In [1]:
import pandas as pd

In [ ]:
##전체 동 개수는 424가 맞음 
## 425-1 (항동의 오류동 통합)
## 영등포구 당산1동과 신길3동의 누락

In [46]:
# 최종_고령층제외1인가구_주소별_가중치
df=pd.read_csv('최종_고령층제외1인가구_주소별_가중치.csv')
df

     지역구   행정동    전체인구  고령층 제외 1인가구
0    종로구   사직동   3,839         1207
1    종로구   삼청동   1,031          308
2    종로구   부암동   3,773          916
3    종로구   평창동   6,265         1057
4    종로구   무악동   2,883          401
..   ...   ...     ...          ...
419  강동구  둔촌1동      13            5
420  강동구  둔촌2동   9,940         1875
421  강동구  암사1동  14,431         3571
422  강동구  천호2동  15,701         5005
423  강동구    길동  19,509         5422

[424 rows x 4 columns]

In [48]:
#최종_자치구별_1인가구_배달주문_및_총합
df2=pd.read_excel('최종_자치구별_1인가구_배달주문_및_총합.xlsx')
df2

    Unnamed: 0  시군구코드   지역구  배달주문 빈도수    전체인구  고령층제외_1인가구  1인가구 평균 배달주문 빈도수
0            0  11110   종로구     25983   63414       21086          1.232239
1            1  11140    중구     22818   55093       18292          1.247431
2            2  11170   용산구     36881   95714       30486          1.209768
3            3  11200   성동구     42585  122186       35224          1.208977
4            4  11215   광진구     62301  152090       54101          1.151568
5            5  11230  동대문구     60925  150373       49853          1.222093
6            6  11260   중랑구     56605  164832       43325          1.306520
7            7  11290   성북구     61510  179660       49739          1.236655
8            8  11305   강북구     45685  129805       32981          1.385191
9            9  11320   도봉구     34884  127362       24178          1.442799
10          10  11350   노원구     56438  202695       38700          1.458346
11          11  11380   은평구     57853  190631       43833          1.319850
12          12  11410  서대문구     49863  133112       40964          1.217240
13          13  11440   마포구     63172  160681       54603          1.156933
14          14  11470   양천구     39436  166044       28589          1.379412
15          15  11500   강서구     86172  244097       69878          1.233178
16          16  11530   구로구     50971  164083       40152          1.269451
17          17  11545   금천구     42334  103432       34715          1.219473
18          18  11560  영등포구     64000  162391       53964          1.185976
19          19  11590   동작구     64101  167766       54178          1.183156
20          20  11620   관악구    129233  248959      115557          1.118349
21          21  11650   서초구     43942  156123       37051          1.185987
22          22  11680   강남구     68999  208833       58664          1.176173
23          23  11710   송파구     73694  255766       61370          1.200815
24          24  11740   강동구     50316  177148       39485          1.274307

In [50]:
df3=pd.read_excel('호선명_역명_2020합계_지역구.xlsx')
df3

     Unnamed: 0  line_nm station_nm  sum_line_station  지역구  getoff_sum
0           0.0    우이신설선   4.19민주묘지            688568  강북구  25855961.0
1           1.0  3호선,8호선       가락시장           4401586  송파구  72306079.0
2           2.0      7호선    가산디지털단지           8574201  금천구   8574201.0
3           3.0      9호선         가양           4503640  강서구  47646991.0
4           4.0    우이신설선        가오리           1004799  강북구  25855961.0
..          ...      ...        ...               ...  ...         ...
278         NaN      1호선         구일           2753592  구로구         NaN
279         NaN      1호선         구로           6326772  구로구         NaN
280         NaN      1호선        광운대           2838924  노원구         NaN
281         NaN      1호선         개봉           7153932  구로구         NaN
282         NaN      5호선         강일           1560480  강동구         NaN

[283 rows x 6 columns]

In [55]:
df3=df3.drop(columns={'Unnamed: 0','getoff_sum'})
df3["getoff_sum"]= df3.groupby("지역구")["sum_line_station"].transform(sum)
df3

     line_nm station_nm  sum_line_station  지역구  getoff_sum
0      우이신설선   4.19민주묘지            688568  강북구    25855961
1    3호선,8호선       가락시장           4401586  송파구    72306079
2        7호선    가산디지털단지           8574201  금천구    18515469
3        9호선         가양           4503640  강서구    47646991
4      우이신설선        가오리           1004799  강북구    25855961
..       ...        ...               ...  ...         ...
278      1호선         구일           2753592  구로구    61334045
279      1호선         구로           6326772  구로구    61334045
280      1호선        광운대           2838924  노원구    46377285
281      1호선         개봉           7153932  구로구    61334045
282      5호선         강일           1560480  강동구    39543477

[283 rows x 5 columns]

In [56]:
df3.to_excel('최종_호선명_역명_2020합계.xlsx')

In [68]:
df3['지역구'].value_counts()

송파구     23
강남구     22
강서구     17
마포구     15
영등포구    14
중구      14
동작구     14
성동구     13
서초구     13
노원구     13
강동구     12
성북구     12
강북구     11
구로구     11
종로구     11
은평구     10
용산구     10
광진구      9
중랑구      8
동대문구     8
양천구      7
도봉구      5
관악구      4
서대문구     4
금천구      3
Name: 지역구, dtype: int64

In [81]:
df4=df3.drop(columns={'line_nm','station_nm','sum_line_station'})
df4

     지역구  getoff_sum
0    강북구    25855961
1    송파구    72306079
2    금천구    18515469
3    강서구    47646991
4    강북구    25855961
..   ...         ...
278  구로구    61334045
279  구로구    61334045
280  노원구    46377285
281  구로구    61334045
282  강동구    39543477

[283 rows x 2 columns]

In [87]:
df5=df4.drop_duplicates()
df5

      지역구  getoff_sum
0     강북구    25855961
1     송파구    72306079
2     금천구    18515469
3     강서구    47646991
5     강남구   122925064
7     강동구    39543477
9     광진구    48074042
15    종로구    56490187
18    성북구    31849490
19    서초구    63360763
20    마포구    67588775
21    노원구    46377285
27    구로구    61334045
29    은평구    33655542
32   영등포구    62180094
35    성동구    36587532
40    관악구    39572403
43    동작구    56262144
50    용산구    36607700
61    도봉구    21163982
62   서대문구    10120432
66     중구    75652288
72    양천구    20402546
85    중랑구    20647485
166  동대문구    31440959

In [97]:
df5.sort_values(by=['getoff_sum'],ascending=False)

      지역구  getoff_sum
5     강남구   122925064
66     중구    75652288
1     송파구    72306079
20    마포구    67588775
19    서초구    63360763
32   영등포구    62180094
27    구로구    61334045
15    종로구    56490187
43    동작구    56262144
9     광진구    48074042
3     강서구    47646991
21    노원구    46377285
40    관악구    39572403
7     강동구    39543477
50    용산구    36607700
35    성동구    36587532
29    은평구    33655542
18    성북구    31849490
166  동대문구    31440959
0     강북구    25855961
61    도봉구    21163982
85    중랑구    20647485
72    양천구    20402546
2     금천구    18515469
62   서대문구    10120432

In [89]:
df6=pd.merge(df2,df5,how='left',on='지역구')
df6

,Unnamed: 0,시군구코드,지역구,배달주문 빈도수,전체인구,고령층제외_1인가구,1인가구 평균 배달주문 빈도수,getoff_sum
0,0,11110,종로구,25983,63414,21086,1.232239,56490187
1,1,11140,중구,22818,55093,18292,1.247431,75652288
2,2,11170,용산구,36881,95714,30486,1.209768,36607700
3,3,11200,성동구,42585,122186,35224,1.208977,36587532
4,4,11215,광진구,62301,152090,54101,1.151568,48074042
5,5,11230,동대문구,60925,150373,49853,1.222093,31440959
6,6,11260,중랑구,56605,164832,43325,1.306520,20647485
7,7,11290,성북구,61510,179660,49739,1.236655,31849490
8,8,11305,강북구,45685,129805,32981,1.385191,25855961
9,9,11320,도봉구,34884,127362,24178,1.442799,21163982
10,10,11350,노원구,56438,202695,38700,1.458346,46377285
11,11,11380,은평구,57853,190631,43833,1.319850,33655542
12,12,11410,서대문구,49863,133112,40964,1.217240,10120432
13,13,11440,마포구,63172,160681,54603,1.156933,67588775
14,14,11470,양천구,39436,166044,28589,1.379412,20402546
15,15,11500,강서구,86172,244097,69878,1.233178,47646991
16,16,11530,구로구,50971,164083,40152,1.269451,61334045
17,17,11545,금천구,42334,103432,34715,1.219473,18515469
18,18,11560,영등포구,64000,162391,53964,1.185976,62180094
19,19,11590,동작구,64101,167766,54178,1.183156,56262144
20,20,11620,관악구,129233,248959,115557,1.118349,39572403
21,21,11650,서초구,43942,156123,37051,1.185987,63360763
22,22,11680,강남구,68999,208833,58664,1.176173,122925064
23,23,11710,송파구,73694,255766,61370,1.200815,72306079
24,24,11740,강동구,50316,177148,39485,1.274307,39543477

In [90]:
#지역구별 배달주문빈도수 및 지하철 하차수
df6=df6.drop(columns={'Unnamed: 0','전체인구'})
df6

    시군구코드   지역구  배달주문 빈도수  고령층제외_1인가구  1인가구 평균 배달주문 빈도수  getoff_sum
0   11110   종로구     25983       21086          1.232239    56490187
1   11140    중구     22818       18292          1.247431    75652288
2   11170   용산구     36881       30486          1.209768    36607700
3   11200   성동구     42585       35224          1.208977    36587532
4   11215   광진구     62301       54101          1.151568    48074042
5   11230  동대문구     60925       49853          1.222093    31440959
6   11260   중랑구     56605       43325          1.306520    20647485
7   11290   성북구     61510       49739          1.236655    31849490
8   11305   강북구     45685       32981          1.385191    25855961
9   11320   도봉구     34884       24178          1.442799    21163982
10  11350   노원구     56438       38700          1.458346    46377285
11  11380   은평구     57853       43833          1.319850    33655542
12  11410  서대문구     49863       40964          1.217240    10120432
13  11440   마포구     63172       54603          1.156933    67588775
14  11470   양천구     39436       28589          1.379412    20402546
15  11500   강서구     86172       69878          1.233178    47646991
16  11530   구로구     50971       40152          1.269451    61334045
17  11545   금천구     42334       34715          1.219473    18515469
18  11560  영등포구     64000       53964          1.185976    62180094
19  11590   동작구     64101       54178          1.183156    56262144
20  11620   관악구    129233      115557          1.118349    39572403
21  11650   서초구     43942       37051          1.185987    63360763
22  11680   강남구     68999       58664          1.176173   122925064
23  11710   송파구     73694       61370          1.200815    72306079
24  11740   강동구     50316       39485          1.274307    39543477

In [69]:
sd=pd.read_csv('서울시_읍면동마스터_정보.csv')
sd

      행정동_ID   행정동  지역구
0    1123068  개포1동  강남구
1    1123080  개포2동  강남구
2    1123071  개포4동  강남구
3    1123052  논현1동  강남구
4    1123053  논현2동  강남구
..       ...   ...  ...
419  1107060  상봉2동  중랑구
420  1107069  신내1동  중랑구
421  1107070  신내2동  중랑구
422  1107061  중화1동  중랑구
423  1107062  중화2동  중랑구

[424 rows x 3 columns]

In [2]:
k=pd.read_excel('수정요망_동_상권변화지표.xlsx')
k=k.drop(columns={'Unnamed: 0','Unnamed: 5'})
k

       행정동_코드   행정동     상권_변화_지표   지역구
0    11710631  가락1동  HH,HH,HH,HH   송파구
1    11710632  가락2동  HL,HL,HL,HL   송파구
2    11710620  가락본동  LL,LL,LL,LL   송파구
3    11530595  가리봉동  HL,HL,HL,HL   구로구
4    11545510   가산동  LL,LL,LL,LL   금천구
..        ...   ...          ...   ...
419  11170580   효창동  HH,HH,HH,HH   용산구
420  11170510   후암동  LH,LH,LH,LH   용산구
421  11230720  휘경1동  HL,HL,HL,HL  동대문구
422  11230730  휘경2동  LH,LL,LL,LL  동대문구
423  11590605   흑석동  HH,LH,LH,LH   동작구

[424 rows x 4 columns]

In [71]:
nwn=pd.merge(sd,k,how='left',on='행정동')
nwn

      행정동_ID   행정동 지역구_x    행정동_코드     상권_변화_지표 지역구_y
0    1123068  개포1동   강남구  11680660  HH,HH,HH,HH   강남구
1    1123080  개포2동   강남구  11680670  HH,HH,HH,HH   강남구
2    1123071  개포4동   강남구  11680690  HL,HL,HL,HL   강남구
3    1123052  논현1동   강남구  11680521  LL,LL,LL,LL   강남구
4    1123053  논현2동   강남구  11680531  LL,LL,LL,LL   강남구
..       ...   ...   ...       ...          ...   ...
421  1107060  상봉2동   중랑구  11260590  LL,LL,LL,LL   중랑구
422  1107069  신내1동   중랑구  11260680  LL,LL,LL,LL   중랑구
423  1107070  신내2동   중랑구  11260690  LL,LL,LL,LL   중랑구
424  1107061  중화1동   중랑구  11260600  HL,LL,LL,HL   중랑구
425  1107062  중화2동   중랑구  11260610  HL,HL,HL,HL   중랑구

[426 rows x 6 columns]

In [73]:
nwn=pd.merge(sd,k,how='left',on=('행정동','지역구'))
nwn

      행정동_ID   행정동  지역구    행정동_코드     상권_변화_지표
0    1123068  개포1동  강남구  11680660  HH,HH,HH,HH
1    1123080  개포2동  강남구  11680670  HH,HH,HH,HH
2    1123071  개포4동  강남구  11680690  HL,HL,HL,HL
3    1123052  논현1동  강남구  11680521  LL,LL,LL,LL
4    1123053  논현2동  강남구  11680531  LL,LL,LL,LL
..       ...   ...  ...       ...          ...
419  1107060  상봉2동  중랑구  11260590  LL,LL,LL,LL
420  1107069  신내1동  중랑구  11260680  LL,LL,LL,LL
421  1107070  신내2동  중랑구  11260690  LL,LL,LL,LL
422  1107061  중화1동  중랑구  11260600  HL,LL,LL,HL
423  1107062  중화2동  중랑구  11260610  HL,HL,HL,HL

[424 rows x 5 columns]

In [99]:
pd.merge(nwn,df,how='left',on=('행정동','지역구'))

      행정동_ID   행정동  지역구    행정동_코드     상권_변화_지표    전체인구  고령층 제외 1인가구
0    1123068  개포1동  강남구  11680660  HH,HH,HH,HH   2,328        468.0
1    1123080  개포2동  강남구  11680670  HH,HH,HH,HH   7,427        900.0
2    1123071  개포4동  강남구  11680690  HL,HL,HL,HL   7,798       1938.0
3    1123052  논현1동  강남구  11680521  LL,LL,LL,LL  12,277       6054.0
4    1123053  논현2동  강남구  11680531  LL,LL,LL,LL  10,079       3926.0
..       ...   ...  ...       ...          ...     ...          ...
419  1107060  상봉2동  중랑구  11260590  LL,LL,LL,LL  10,267       4063.0
420  1107069  신내1동  중랑구  11260680  LL,LL,LL,LL  13,646       1857.0
421  1107070  신내2동  중랑구  11260690  LL,LL,LL,LL   8,454       1740.0
422  1107061  중화1동  중랑구  11260600  HL,LL,LL,HL   8,117       1801.0
423  1107062  중화2동  중랑구  11260610  HL,HL,HL,HL  12,182       4175.0

[424 rows x 7 columns]

In [74]:
#중계2,3동이 중계23동으로 돼서 결측값 발생, 중계본동이 은평구로 되어있었음 (수정완료)
nwn.isnull().sum()

행정동_ID      0
행정동         0
지역구         0
행정동_코드      0
상권_변화_지표    0
dtype: int64

In [100]:
nwn[nwn['행정동']=='중계본동']

      행정동_ID   행정동  지역구    행정동_코드     상권_변화_지표
150  1111060  중계본동  노원구  11350619  LL,LL,LL,LL

In [86]:
k[k['행정동']=='중계본동']

       행정동_코드   행정동     상권_변화_지표  지역구
359  11350619  중계본동  LL,LL,LL,LL  은평구

In [87]:
sd[sd['행정동']=='중계본동']

      행정동_ID   행정동  지역구
150  1111060  중계본동  노원구

In [91]:
nwn.iloc[150:151]

      행정동_ID   행정동  지역구  행정동_코드 상권_변화_지표
150  1111060  중계본동  노원구     NaN      NaN

In [ ]:
k['지역구']

In [4]:
k

       행정동_코드   행정동     상권_변화_지표   지역구
0    11710631  가락1동  HH,HH,HH,HH   송파구
1    11710632  가락2동  HL,HL,HL,HL   송파구
2    11710620  가락본동  LL,LL,LL,LL   송파구
3    11530595  가리봉동  HL,HL,HL,HL   구로구
4    11545510   가산동  LL,LL,LL,LL   금천구
..        ...   ...          ...   ...
419  11170580   효창동  HH,HH,HH,HH   용산구
420  11170510   후암동  LH,LH,LH,LH   용산구
421  11230720  휘경1동  HL,HL,HL,HL  동대문구
422  11230730  휘경2동  LH,LL,LL,LL  동대문구
423  11590605   흑석동  HH,LH,LH,LH   동작구

[424 rows x 4 columns]

In [7]:
k['상권_변화_지표'].unique()

array(['HH,HH,HH,HH', 'HL,HL,HL,HL', 'LL,LL,LL,LL', 'HL,LL,LL,LL',
       'LL,LL,LL,LH', 'LH,LH,LH,LH', 'LL,LH,LH,LH', 'HH,HH,HL,HL',
       'LH,LH,HH,LH', 'LH,HL,HL,HH', 'HL,HH,HH,HH', 'HL,HL,LL,LL',
       'LL,LL,LL,HL', 'LH,HL,HL,HL', 'LH,LH,LH,HH', 'LH,HH,HH,HH',
       'HH,HH,HH,LH', 'HL,HL,HL,HH', 'LH,HH,HH,LH', 'LL,LL,HL,HL',
       'LH,LH,HH,HH', 'LL,LL,LH,LL', 'HL,HH,HL,HL', 'LL,LL,LH,LH',
       'HL,HL,HH,HH', 'LH,LL,LL,LL', 'HL,LL,LL,HL', 'HH,LH,LH,LH'],
      dtype=object)

- LL(다이나믹) : 도시재생 및 신규 개발 상권으로 창업 진출입시 세심한 주의가 필요한 상권(지역), 특정시점 사업체의 영업기간이 서울시 평균 생존영업기간보다 낮고, 서울시 평균 폐업영업기간보다 낮은 상권(지역)
- LH(상권확장) : 경쟁력 있는 신규 창업 우위 상권(지역), 특정 시점 사업체의 영업기간이 서울시 평균 생존영업기간보다 낮고, 서울시 평균 폐업영업기간보다 높은 상권(지역)
- HL(상권축소) : 경쟁력 있는 기존 업체 우위 상권(지역), 특정 시점 사업체의 영업기간이 서울시 평균 생존영업기간보다 높고, 서울시 평균 폐업영업기간보다 낮은 상권(지역)
- HH(정체) : 창업 진출입시 세심한 주의 상권(지역), 특정 시점 사업체의 영업기간이 서울시 평균 생존영업기간보다 높고, 서울시 평균 폐업영업기간보다 높은 상권(지역)

In [ ]:
운영영업개월 평균이 길수록, 폐업한 점포영업개월의 평균이 길수록 최고
운영영업개월 평균이 

운영영업개월 평균이 짧을수록, 폐업영업개월의 평균이 짧을수록 ㅂㄹ


L-이제막생겨남, 운영짧음
H-폐업한애들의 평균개월  짧을수록 좋지않은평균

LL 운영중짧고,폐업중짧음 (제일 별로)
LH 운영중짧고, 폐업중김 ( 이제 막 생겨난 애들 많고, 폐업해서 끝난 애들은 길게 장사함 )
HL 운영중길고, 폐업중 짧음 ( 운영중인 점포는 오래했고, 폐업한 점포들은 짧음)
HH 운영중길고, 폐업중김 (오래 장사한애들많고, 폐업한애들도 오래한애들)

상권축소 - 정체 - 다이나믹 - 상권확장 순으로 최근 1분기만 보거나
최근2분기의 추이 보고 지수 측정