In [1]:
import pandas as pd
import numpy as np

import requests
import openpyxl as xl
import time
import json

import folium
import re

import geopandas as gpd
from matplotlib import pyplot as plt # 그래프 그리는 용도
import seaborn as sns
import geopandas as gpd
from plotnine import *
from shapely.geometry import Point, Polygon

import warnings
warnings.filterwarnings(action='ignore') # 경고메세지 숨기기

In [28]:
df = pd.read_excel("fin_dataset_dong.xlsx")
# df2 = pd.read_excel("fin_dataset_goo.xlsx")
df = df.rename(columns={"goo_nm":"goo_nm"})

In [29]:
df.head(1)

,goo_nm,dong_ID,dong_nm,dong_area,sum_pop,sum_hh,one_hh,cc_value,count_zero,count_market,count_univ,count_bus,count_station,sum_bus,sum_station,sum_order,sum_waste,y,x
0,송파구,11710631,가락1동,1.46,27876,9534,1045,0,0,1,0,10,2,2605376,6434890,73694,4271.9,37.496537,127.105726

In [30]:
g_df = df[["goo_nm","sum_waste","sum_order"]].drop_duplicates(["goo_nm"])
g_df = g_df.sort_values(["goo_nm"], ascending=True)
g_df = g_df.reset_index()
g_df = g_df.drop(columns={"index"})
g_df.head()

  goo_nm  sum_waste  sum_order
0    강남구     5556.9      68999
1    강동구     2766.3      50316
2    강북구      838.3      45685
3    강서구     4928.8      86172
4    관악구     1631.4     129233

In [31]:
sub = df[["goo_nm","dong_area","sum_pop","sum_hh","one_hh","cc_value","count_zero","count_market","count_univ","count_bus","count_station","sum_bus","sum_station"]]
sub.head()

,goo_nm,dong_area,sum_pop,sum_hh,one_hh,cc_value,count_zero,count_market,count_univ,count_bus,count_station,sum_bus,sum_station
0,송파구,1.46,27876,9534,1045,0,0,1,0,10,2,2605376,6434890
1,송파구,1.34,33204,11482,1892,10,0,2,0,22,2,2181971,3449427
2,송파구,0.96,27368,10576,2642,30,1,1,0,25,0,3081377,0
3,구로구,0.40,14263,4901,2244,10,0,0,0,10,0,2235038,0
4,금천구,2.52,25973,14124,8016,30,0,6,0,105,2,10824582,14509425

In [32]:
condition = ["goo_nm","dong_area","sum_pop","sum_hh","one_hh","cc_value","count_zero","count_market","count_univ","count_bus","count_station","sum_bus","sum_station"]
goo_df2 = sub.groupby(by = ['goo_nm'])[condition].transform(sum)
goo_df2 = goo_df2.drop_duplicates(["goo_nm"])
goo_df2 = goo_df2.sort_values(["goo_nm"], ascending=True)
goo_df2 = goo_df2.reset_index()

g_df2 = goo_df2.drop(columns={"index"})
g_df2=g_df2.rename(columns={"goo_nm":"지역구"})
g_df2.head(1)

,지역구,dong_area,sum_pop,sum_hh,one_hh,cc_value,count_zero,count_market,count_univ,count_bus,count_station,sum_bus,sum_station
0,강남구강남구강남구강남구강남구강남구강남구강남구강남구강남구강남구강남구강남구강남구강남구강...,39.51,544055,208833,58663,457,0,46,1,552,22,102636377,107653238

In [33]:
goo_df = pd.concat([g_df,g_df2], axis = 1)
goo_df = goo_df.rename(columns = {"dong_area":"goo_area"})
goo_df = goo_df.drop(columns={"지역구"})
goo_df

,goo_nm,sum_waste,sum_order,goo_area,sum_pop,sum_hh,one_hh,cc_value,count_zero,count_market,count_univ,count_bus,count_station,sum_bus,sum_station
0,강남구,5556.9,68999,39.51,544055,208833,58663,457,0,46,1,552,22,102636377,107653238
1,강동구,2766.3,50316,24.58,463998,177148,39486,414,3,21,0,396,10,34783737,34193728
2,강북구,838.3,45685,23.6,311569,129805,32979,320,0,17,0,412,11,57437812,25855961
3,강서구,4928.8,86172,41.44,585901,244097,69879,548,1,22,2,619,16,55236175,43691763
4,관악구,1631.4,129233,29.57,509803,248959,115556,460,2,24,1,490,6,89607537,61049638
5,광진구,1584.9,62301,17.06,360109,152090,54100,343,1,23,3,292,9,32782959,48074042
6,구로구,1278.5,50971,20.12,432488,164083,40152,187,0,24,3,480,10,60262348,53472371
7,금천구,3794.8,42334,13.02,247835,103432,34714,126,0,20,0,354,3,44554050,18515469
8,노원구,1108.3,56438,35.56,527032,202695,38700,441,1,19,5,535,12,49940954,45054621
9,도봉구,1290.8,34884,20.46,327361,127362,24178,370,0,12,1,366,6,38499802,22486646
10,동대문구,3237.0,60925,13.86,357014,150373,49853,127,1,23,4,315,8,62280433,28906793
11,동작구,1289.4,64101,15.72,401572,167766,54179,227,6,13,3,448,12,62123031,34784909
12,마포구,1645.7,63172,23.81,381858,160681,54603,350,4,25,3,580,14,63596542,59211585
13,서대문구,782.8,49863,18.54,322952,133112,40963,140,4,19,9,458,6,66788325,22385908
14,서초구,2378.1,43942,46.05,429025,156123,37049,168,1,25,3,636,14,77685194,84761659
15,성동구,2339.1,42585,18.2,300505,122186,35224,271,3,18,2,461,14,33859604,40945961
16,성북구,1195.1,61510,23.53,447056,179660,49739,211,3,27,7,610,11,75003535,30025227
17,송파구,4271.9,73694,33.75,673926,255766,61368,500,3,36,1,450,23,66576881,72306079
18,양천구,1251.5,39436,17.79,457781,166044,28589,439,2,19,0,332,8,49361883,24357774
19,영등포구,2156.3,64000,24.74,407367,162391,53965,231,2,26,0,505,15,68304871,70041768
20,용산구,1052.6,36881,22.02,244645,95714,30487,109,2,22,2,353,10,49919714,36607700
21,은평구,2156.3,57853,29.93,484043,190631,43834,305,3,17,1,501,10,61191814,33655542
22,종로구,953.9,25983,23.91,158996,63414,21085,153,1,16,4,385,10,66304473,52601901
23,중구,1553.7,22818,9.96,134635,55093,18292,39,2,54,2,213,14,45014709,75652288
24,중랑구,1206.0,56605,18.5,399562,164832,43325,363,1,11,1,382,7,45396944,16648966

In [34]:
goo_df.head(5)

,goo_nm,sum_waste,sum_order,goo_area,sum_pop,sum_hh,one_hh,cc_value,count_zero,count_market,count_univ,count_bus,count_station,sum_bus,sum_station
0,강남구,5556.9,68999,39.51,544055,208833,58663,457,0,46,1,552,22,102636377,107653238
1,강동구,2766.3,50316,24.58,463998,177148,39486,414,3,21,0,396,10,34783737,34193728
2,강북구,838.3,45685,23.6,311569,129805,32979,320,0,17,0,412,11,57437812,25855961
3,강서구,4928.8,86172,41.44,585901,244097,69879,548,1,22,2,619,16,55236175,43691763
4,관악구,1631.4,129233,29.57,509803,248959,115556,460,2,24,1,490,6,89607537,61049638

In [35]:
goo_df["one_ratio"]=""

In [37]:
for i in range(25):
    goo_df["one_ratio"][i]=goo_df["one_hh"][i]/goo_df["sum_pop"][i]

In [38]:
goo_df

,goo_nm,sum_waste,sum_order,goo_area,sum_pop,sum_hh,one_hh,cc_value,count_zero,count_market,count_univ,count_bus,count_station,sum_bus,sum_station,one_ratio
0,강남구,5556.9,68999,39.51,544055,208833,58663,457,0,46,1,552,22,102636377,107653238,0.107825
1,강동구,2766.3,50316,24.58,463998,177148,39486,414,3,21,0,396,10,34783737,34193728,0.0851
2,강북구,838.3,45685,23.6,311569,129805,32979,320,0,17,0,412,11,57437812,25855961,0.105848
3,강서구,4928.8,86172,41.44,585901,244097,69879,548,1,22,2,619,16,55236175,43691763,0.119268
4,관악구,1631.4,129233,29.57,509803,248959,115556,460,2,24,1,490,6,89607537,61049638,0.226668
5,광진구,1584.9,62301,17.06,360109,152090,54100,343,1,23,3,292,9,32782959,48074042,0.150232
6,구로구,1278.5,50971,20.12,432488,164083,40152,187,0,24,3,480,10,60262348,53472371,0.09284
7,금천구,3794.8,42334,13.02,247835,103432,34714,126,0,20,0,354,3,44554050,18515469,0.140069
8,노원구,1108.3,56438,35.56,527032,202695,38700,441,1,19,5,535,12,49940954,45054621,0.07343
9,도봉구,1290.8,34884,20.46,327361,127362,24178,370,0,12,1,366,6,38499802,22486646,0.073857
10,동대문구,3237.0,60925,13.86,357014,150373,49853,127,1,23,4,315,8,62280433,28906793,0.139639
11,동작구,1289.4,64101,15.72,401572,167766,54179,227,6,13,3,448,12,62123031,34784909,0.134917
12,마포구,1645.7,63172,23.81,381858,160681,54603,350,4,25,3,580,14,63596542,59211585,0.142993
13,서대문구,782.8,49863,18.54,322952,133112,40963,140,4,19,9,458,6,66788325,22385908,0.126839
14,서초구,2378.1,43942,46.05,429025,156123,37049,168,1,25,3,636,14,77685194,84761659,0.086356
15,성동구,2339.1,42585,18.2,300505,122186,35224,271,3,18,2,461,14,33859604,40945961,0.117216
16,성북구,1195.1,61510,23.53,447056,179660,49739,211,3,27,7,610,11,75003535,30025227,0.111259
17,송파구,4271.9,73694,33.75,673926,255766,61368,500,3,36,1,450,23,66576881,72306079,0.09106
18,양천구,1251.5,39436,17.79,457781,166044,28589,439,2,19,0,332,8,49361883,24357774,0.062451
19,영등포구,2156.3,64000,24.74,407367,162391,53965,231,2,26,0,505,15,68304871,70041768,0.132473
20,용산구,1052.6,36881,22.02,244645,95714,30487,109,2,22,2,353,10,49919714,36607700,0.124617
21,은평구,2156.3,57853,29.93,484043,190631,43834,305,3,17,1,501,10,61191814,33655542,0.090558
22,종로구,953.9,25983,23.91,158996,63414,21085,153,1,16,4,385,10,66304473,52601901,0.132613
23,중구,1553.7,22818,9.96,134635,55093,18292,39,2,54,2,213,14,45014709,75652288,0.135864
24,중랑구,1206.0,56605,18.5,399562,164832,43325,363,1,11,1,382,7,45396944,16648966,0.108431

In [42]:
goo_df.shape

(25, 16)

In [43]:
goo_df.to_excel("fin_dataset_goo.xlsx")