In [1]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv("서울시 우리마을가게 상권분석서비스(행정동별 상권변화지표).csv",encoding='CP949')

In [46]:
df = df.drop(columns={'운영_영업_개월_평균', '폐업_영업_개월_평균','상권_변화_지표_명'})

In [47]:
df = df[df['기준_년_코드']==2020]
df

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
2544,2020,4,11740700,둔촌2동,HL,114,54
2545,2020,4,11740690,둔촌1동,HH,114,54
2546,2020,4,11740685,길동,LL,114,54
2547,2020,4,11740660,성내3동,HL,114,54
2548,2020,4,11740650,성내2동,LL,114,54
...,...,...,...,...,...,...,...
4235,2020,1,11110560,평창동,HH,110,54
4236,2020,1,11110550,부암동,LH,110,54
4237,2020,1,11110540,삼청동,LH,110,54
4238,2020,1,11110530,사직동,HH,110,54
4239,2020,1,11110515,청운효자동,LH,110,54

In [48]:
df = df.rename(columns={
                   "기준_분기_코드":"quarter", 
                   "행정동_코드_명":"행정동", 
                   "서울_운영_영업_개월_평균":"운영영업_개월평균",
                  "서울_폐업_영업_개월_평균":"폐업영업_개월평균",
                  })
df=df.drop(columns="기준_년_코드")
df

      quarter    행정동_코드    행정동 상권_변화_지표  운영영업_개월평균  폐업영업_개월평균
2544        4  11740700   둔촌2동       HL        114         54
2545        4  11740690   둔촌1동       HH        114         54
2546        4  11740685     길동       LL        114         54
2547        4  11740660   성내3동       HL        114         54
2548        4  11740650   성내2동       LL        114         54
...       ...       ...    ...      ...        ...        ...
4235        1  11110560    평창동       HH        110         54
4236        1  11110550    부암동       LH        110         54
4237        1  11110540    삼청동       LH        110         54
4238        1  11110530    사직동       HH        110         54
4239        1  11110515  청운효자동       LH        110         54

[1696 rows x 6 columns]

In [49]:
df.to_excel("최종_행정동별_상권변화지표.xlsx",encoding="utf-8")

In [50]:
df.head()

      quarter    행정동_코드   행정동 상권_변화_지표  운영영업_개월평균  폐업영업_개월평균
2544        4  11740700  둔촌2동       HL        114         54
2545        4  11740690  둔촌1동       HH        114         54
2546        4  11740685    길동       LL        114         54
2547        4  11740660  성내3동       HL        114         54
2548        4  11740650  성내2동       LL        114         54

In [51]:
df2 = pd.read_csv("제로마켓_지역구.csv",encoding='CP949')
df2.head()

               상호명                    도로명 주소   지역구
0            1.5도씨       서울특별시 관악구 조원로18길 15   관악구
1  Dear.eco(디어 에코)      서울특별시 광진구 아차산로65길 22   광진구
2             감탄상회  서울특별시 동작구 양녕로29길 16 101호   동작구
3     공기(대안생활 1호점)          서울특별시 강동구 상암로 10   강동구
4       공방 꽃피는 삼월에   서울특별시 동대문구 답십리로30길 22-1  동대문구

In [52]:
df3 = pd.read_excel("호선명_역명_2020합계_지역구.xlsx ")
df3.head()

   Unnamed: 0  line_nm station_nm  sum_line_station  지역구  getoff_sum
0           0    우이신설선   4.19민주묘지            688568  강북구    25855961
1           1  3호선,8호선       가락시장           4401586  송파구    72306079
2           2      7호선    가산디지털단지           8574201  금천구     8574201
3           3      9호선         가양           4503640  강서구    47646991
4           4    우이신설선        가오리           1004799  강북구    25855961

In [53]:
sd = pd.read_csv("서울시 읍면동마스터 정보.csv",encoding='CP949')
sd

       행정동_ID 행정동_명칭 자치구_명칭 시도_명칭
0     3138041    개군면    양평군   경기도
1     3138040    용문면    양평군   경기도
2     3138039    지평면    양평군   경기도
3     3138038    양동면    양평군   경기도
4     3138037    청운면    양평군   경기도
...       ...    ...    ...   ...
1131  1101057    무악동    종로구    서울
1132  1101056    평창동    종로구    서울
1133  1101055    부암동    종로구    서울
1134  1101054    삼청동    종로구    서울
1135  1101053    사직동    종로구    서울

[1136 rows x 4 columns]

In [54]:
sd = sd[sd["시도_명칭"]=="서울"]
sd = sd.drop(columns="시도_명칭")
sd

       행정동_ID 행정동_명칭 자치구_명칭
712   1125074     길동    강동구
713   1125073   천호2동    강동구
714   1125072   암사1동    강동구
715   1125071   둔촌2동    강동구
716   1125070   둔촌1동    강동구
...       ...    ...    ...
1131  1101057    무악동    종로구
1132  1101056    평창동    종로구
1133  1101055    부암동    종로구
1134  1101054    삼청동    종로구
1135  1101053    사직동    종로구

[424 rows x 3 columns]

In [55]:
sd = sd.rename(columns={"자치구_명칭":"지역구", 
                   "행정동_명칭":"행정동" })
sd

       행정동_ID   행정동  지역구
712   1125074    길동  강동구
713   1125073  천호2동  강동구
714   1125072  암사1동  강동구
715   1125071  둔촌2동  강동구
716   1125070  둔촌1동  강동구
...       ...   ...  ...
1131  1101057   무악동  종로구
1132  1101056   평창동  종로구
1133  1101055   부암동  종로구
1134  1101054   삼청동  종로구
1135  1101053   사직동  종로구

[424 rows x 3 columns]

In [91]:
sd.isnull().sum()

행정동_ID    0
행정동       0
지역구       0
dtype: int64

In [56]:
sd.to_excel("최종_읍면동마스터_정보.xlsx",encoding="utf-8")

In [2]:
df1 = pd.read_csv("제로마켓_지역구.csv",encoding='CP949')
df1

                          상호명                               도로명 주소   지역구
0                       1.5도씨                  서울특별시 관악구 조원로18길 15   관악구
1             Dear.eco(디어 에코)                 서울특별시 광진구 아차산로65길 22   광진구
2                        감탄상회             서울특별시 동작구 양녕로29길 16 101호   동작구
3                공기(대안생활 1호점)                     서울특별시 강동구 상암로 10   강동구
4                  공방 꽃피는 삼월에              서울특별시 동대문구 답십리로30길 22-1  동대문구
5                       굿바이마켓                    서울특별시 용산구 서빙고로 17   용산구
6                        늘보따리                  서울특별시 서대문구 연희로4길 24  서대문구
7                  다른상점 지구자판기                    서울특별시 동작구 노량진로 10   동작구
8                         더피커                   서울특별시 성동구 왕십리로 115   성동구
9                         덕분애                   서울특별시 서초구 서초대로 389   서초구
10          디어얼스(Dear. Earth)                    서울특별시 서대문구 수색로 43  서대문구
11                    물푸레지구살림                 서울특별시 은평구 진관4로 48-51   은평구
12                        밋자인                  서울특별시 영등포구 영등포로 155  영등포구
13                       보탬상점                  서울특별시 중랑구 봉화산로22길 2   중랑구
14                      보틀라운지                 서울특별시 서대문구 홍연길 26 1층  서대문구
15                      보틀앤스쿱        서울특별시 마포구 대흥로24길 24 상가C동 103호   마포구
16                       북촌감성                     서울특별시 종로구 계동길 60   종로구
17                       비그린        서울특별시 동작구 노량진로 10 스페이스살림 1층 1호   동작구
18                       비유비웰                   서울특별시 동작구 흑석한강로 27   동작구
19                     세컨드페이지                    서울특별시 송파구 중대로 127   송파구
20                       송포어스                  서울특별시 강동구 풍성로35길 34   강동구
21                       순환지구                  서울특별시 성북구 동소문로25길 8   성북구
22                       아토모스           서울특별시 성북구 성북로8길 11 1층 101호   성북구
23                       알맹상점                    서울특별시 마포구 월드컵로 49   마포구
24                 알맹상점 리스테이션                    서울특별시 중구 한강대로 405    중구
25      에코스토어(ecostore) 더현대서울                  서울특별시 영등포구 여의대로 108  영등포구
26  에코스토어(ecostore) 신세계백화점 본점                      서울특별시 중구 소공로 63    중구
27                        우슬레             서울특별시 강동구 성안로 87 1층 104호   강동구
28                         원점                  서울특별시 성동구 아차산로7길 42   성동구
29                    일상공감_길음                     서울특별시 성북구 삼양로 27   성북구
30                       자연상점                    서울특별시 은평구 통일로 684   은평구
31                    제로공감 동동              서울특별시 성동구 성수일로12길 16 2층   성동구
32                       제로띵스                    서울특별시 중구 수표로 32-1    중구
33         제로마켓 베러얼스 홈플러스 남현점                   서울특별시 관악구 과천대로 909   관악구
34                     지구랑 가게                     서울특별시 노원구 광운로 53   노원구
35                      지구살림터               서울특별시 양천구 목동중앙북로16길 41   양천구
36                       지구상점                  서울특별시 동작구 상도로61길 54   동작구
37                    지구샵 상도점                   서울특별시 동작구 성대로1길 16   동작구
38             지구샵 홈&베이커리 연남점                   서울특별시 마포구 성미산로 155   마포구
39                     지미프로젝트  서울특별시 송파구 가락로16길 2-7 2층 202호 지미프로젝트   송파구
40                     코스메틱미아               서울특별시 서대문구 명지대7길 13 1층  서대문구
41                      타이거릴리                    서울특별시 마포구 포은로 119   마포구
42                테이블220 숨공춤공                    서울특별시 양천구 신월로 220   양천구
43                     퍼스트페이지                  서울특별시 송파구 올림픽로49길 8   송파구
44                       플라프리                   서울특별시 동작구 동작대로 157   동작구
45                       햇빛상점                     서울특별시 은평구 연서로 16   은평구
46                      허그어웨일                  서울특별시 강서구 화곡로55길 23   강서구

In [3]:
df2 = pd.read_excel("호선명_역명_2020합계_지역구.xlsx ")
df2

     Unnamed: 0  line_nm station_nm  sum_line_station  지역구  getoff_sum
0             0    우이신설선   4.19민주묘지            688568  강북구    25855961
1             1  3호선,8호선       가락시장           4401586  송파구    72306079
2             2      7호선    가산디지털단지           8574201  금천구     8574201
3             3      9호선         가양           4503640  강서구    47646991
4             4    우이신설선        가오리           1004799  강북구    25855961
..          ...      ...        ...               ...  ...         ...
259         259      5호선         화곡           6689936  강서구    47646991
260         260      6호선        화랑대           2202048  노원구    39806793
261         261      4호선         회현           5285611   중구    75652288
262         262      6호선      효창공원앞           1545629  용산구    18581924
263         263      9호선         흑석           1856514  동작구    56262144

[264 rows x 6 columns]

In [122]:
df3 = pd.read_excel("최종_1인가구_주소별_가중치.xlsx ")
df3 = df3.drop(columns="Unnamed: 0")
df3

     지역구   행정동   전체인구  고령층 제외 1인가구
0    종로구   사직동   3839         1207
1    종로구   삼청동   1031          308
2    종로구   부암동   3773          916
3    종로구   평창동   6265         1057
4    종로구   무악동   2883          401
..   ...   ...    ...          ...
419  강동구  둔촌2동   9940         1875
420  강동구  암사1동  14431         3571
421  강동구  천호2동  15701         5005
422  강동구    길동  19509         5422
423  구로구  오류2동  20348         3636

[424 rows x 4 columns]

In [124]:
m_df3 = df3[["지역구","행정동"]]
m_df3

     지역구   행정동
0    종로구   사직동
1    종로구   삼청동
2    종로구   부암동
3    종로구   평창동
4    종로구   무악동
..   ...   ...
419  강동구  둔촌2동
420  강동구  암사1동
421  강동구  천호2동
422  강동구    길동
423  구로구  오류2동

[424 rows x 2 columns]

## 행정동별_상권변화지표

- 행정동코드, 지역구 합치기

In [15]:
df4 = pd.read_excel("최종_행정동별_상권변화지표.xlsx ")
df4 = df4.drop(columns={"Unnamed: 0","운영영업_개월평균","폐업영업_개월평균"})
df4

      quarter    행정동_코드    행정동 상권_변화_지표
0           4  11740700   둔촌2동       HL
1           4  11740690   둔촌1동       HH
2           4  11740685     길동       LL
3           4  11740660   성내3동       HL
4           4  11740650   성내2동       LL
...       ...       ...    ...      ...
1691        1  11110560    평창동       HH
1692        1  11110550    부암동       LH
1693        1  11110540    삼청동       LH
1694        1  11110530    사직동       HH
1695        1  11110515  청운효자동       LH

[1696 rows x 4 columns]

In [16]:
df4[df4["행정동_코드"]==11740700]

      quarter    행정동_코드   행정동 상권_변화_지표
0           4  11740700  둔촌2동       HL
424         3  11740700  둔촌2동       HL
848         2  11740700  둔촌2동       HL
1272        1  11740700  둔촌2동       HL

In [92]:
df4[df4["행정동"]=="금호2,3가동"]

Empty DataFrame
Columns: [quarter, 행정동_코드, 행정동, 상권_변화_지표]
Index: []

In [18]:
df4[df4["행정동_코드"]==11110560]

      quarter    행정동_코드  행정동 상권_변화_지표
419         4  11110560  평창동       HH
843         3  11110560  평창동       HH
1267        2  11110560  평창동       HH
1691        1  11110560  평창동       HH

In [99]:
df_4 = df4[["quarter", "행정동_코드", "행정동", "상권_변화_지표"]]
df_4.

      quarter    행정동_코드    행정동 상권_변화_지표
0           4  11740700   둔촌2동       HL
1           4  11740690   둔촌1동       HH
2           4  11740685     길동       LL
3           4  11740660   성내3동       HL
4           4  11740650   성내2동       LL
...       ...       ...    ...      ...
1691        1  11110560    평창동       HH
1692        1  11110550    부암동       LH
1693        1  11110540    삼청동       LH
1694        1  11110530    사직동       HH
1695        1  11110515  청운효자동       LH

[1696 rows x 4 columns]

In [101]:
k=df_4.groupby(["행정동_코드","행정동"], as_index=False)["상권_변화_지표"].agg(",".join)
k # 상권변화지표

       행정동_코드    행정동     상권_변화_지표
0    11110515  청운효자동  LH,LH,LH,LH
1    11110530    사직동  HH,HH,HH,HH
2    11110540    삼청동  LH,LH,LH,LH
3    11110550    부암동  LH,LH,LH,LH
4    11110560    평창동  HH,HH,HH,HH
..        ...    ...          ...
419  11740650   성내2동  LL,LL,LL,LL
420  11740660   성내3동  HL,HL,HL,HL
421  11740685     길동  LL,LL,LL,LL
422  11740690   둔촌1동  HH,HH,HH,HH
423  11740700   둔촌2동  HL,HL,HL,HL

[424 rows x 3 columns]

In [135]:
k = k.sort_values(["행정동"], ascending=True)
m_df3 = m_df3.sort_values(["행정동"], ascending=True)

In [159]:
k[k["행정동"]=="망원1동"] # 관악구 먼저

       행정동_코드   행정동     상권_변화_지표
216  11440690  망원1동  LL,LL,LL,LL

In [133]:
m_df3[m_df3["행정동"]=="신사동"]

     지역구  행정동
327  관악구  신사동
356  강남구  신사동

In [145]:
k

       행정동_코드   행정동     상권_변화_지표
394  11710631  가락1동  HH,HH,HH,HH
395  11710632  가락2동  HL,HL,HL,HL
393  11710620  가락본동  LL,LL,LL,LL
266  11530595  가리봉동  HL,HL,HL,HL
275  11545510   가산동  LL,LL,LL,LL
..        ...   ...          ...
38   11170580   효창동  HH,HH,HH,HH
32   11170510   후암동  LH,LH,LH,LH
90   11230720  휘경1동  HL,HL,HL,HL
91   11230730  휘경2동  LH,LL,LL,LL
309  11590605   흑석동  HH,LH,LH,LH

[424 rows x 3 columns]

In [148]:
k.iloc[:50]

       행정동_코드      행정동     상권_변화_지표
394  11710631     가락1동  HH,HH,HH,HH
395  11710632     가락2동  HL,HL,HL,HL
393  11710620     가락본동  LL,LL,LL,LL
266  11530595     가리봉동  HL,HL,HL,HL
275  11545510      가산동  LL,LL,LL,LL
251  11500603     가양1동  LL,LL,LL,LL
252  11500604     가양2동  HL,LL,LL,LL
253  11500605     가양3동  LL,LL,LL,LH
7    11110600      가회동  LH,LH,LH,LH
179  11380551     갈현1동  LL,LL,LL,LL
180  11380552     갈현2동  LL,LL,LL,LL
406  11740515      강일동  LL,LL,LL,LL
269  11530740     개봉1동  HH,HH,HH,HH
270  11530750     개봉2동  HH,HH,HH,HH
271  11530760     개봉3동  HL,HL,HL,HL
371  11680660     개포1동  HH,HH,HH,HH
372  11680670     개포2동  HH,HH,HH,HH
373  11680690     개포4동  HL,HL,HL,HL
381  11710531     거여1동  LL,LL,LL,LL
382  11710532     거여2동  HH,HH,HH,HH
410  11740550     고덕1동  LL,LL,LL,LL
411  11740560     고덕2동  LH,LH,LH,LH
267  11530720     고척1동  HL,HL,HL,HL
268  11530730     고척2동  HH,HH,HH,HH
207  11440565      공덕동  HH,HH,HH,HH
160  11350595     공릉1동  LL,LL,LL,LL
161  11350600     공릉2동  LL,LL,LL,LL
256  11500620      공항동  LL,LL,LL,LL
72   11215810      광장동  LL,LH,LH,LH
22   11140590      광희동  HH,HH,HH,HH
6    11110580      교남동  HH,HH,HH,HH
261  11530520     구로1동  HH,HH,HH,HH
262  11530530     구로2동  HH,HH,HL,HL
263  11530540     구로3동  LL,LL,LL,LL
264  11530550     구로4동  HL,HL,HL,HL
265  11530560     구로5동  LL,LL,LL,LL
181  11380560      구산동  LL,LL,LL,LL
77   11215850     구의1동  HL,HL,HL,HL
78   11215860     구의2동  LH,LH,LH,LH
79   11215870     구의3동  HH,HH,HH,HH
66   11215730      군자동  LL,LL,LL,LL
55   11200590    금호1가동  LH,LH,HH,LH
56   11200615  금호2.3가동  HH,HH,HH,HH
57   11200620    금호4가동  HH,HH,HH,HH
421  11740685       길동  LL,LL,LL,LL
121  11290660     길음1동  HH,HH,HH,HH
122  11290685     길음2동  LH,LH,LH,LH
322  11620585     낙성대동  LL,LL,LL,LL
338  11620775      난곡동  HH,HH,HH,HH
333  11620715      난향동  LL,LL,LL,LL

In [151]:
nwn1 = pd.merge(k.iloc[:50], m_df3.iloc[:50], how="outer", on="행정동")
nwn1

      행정동_코드      행정동     상권_변화_지표  지역구
0   11710631     가락1동  HH,HH,HH,HH  송파구
1   11710632     가락2동  HL,HL,HL,HL  송파구
2   11710620     가락본동  LL,LL,LL,LL  송파구
3   11530595     가리봉동  HL,HL,HL,HL  구로구
4   11545510      가산동  LL,LL,LL,LL  금천구
5   11500603     가양1동  LL,LL,LL,LL  강서구
6   11500604     가양2동  HL,LL,LL,LL  강서구
7   11500605     가양3동  LL,LL,LL,LH  강서구
8   11110600      가회동  LH,LH,LH,LH  종로구
9   11380551     갈현1동  LL,LL,LL,LL  은평구
10  11380552     갈현2동  LL,LL,LL,LL  은평구
11  11740515      강일동  LL,LL,LL,LL  강동구
12  11530740     개봉1동  HH,HH,HH,HH  구로구
13  11530750     개봉2동  HH,HH,HH,HH  구로구
14  11530760     개봉3동  HL,HL,HL,HL  구로구
15  11680660     개포1동  HH,HH,HH,HH  강남구
16  11680670     개포2동  HH,HH,HH,HH  강남구
17  11680690     개포4동  HL,HL,HL,HL  강남구
18  11710531     거여1동  LL,LL,LL,LL  송파구
19  11710532     거여2동  HH,HH,HH,HH  송파구
20  11740550     고덕1동  LL,LL,LL,LL  강동구
21  11740560     고덕2동  LH,LH,LH,LH  강동구
22  11530720     고척1동  HL,HL,HL,HL  구로구
23  11530730     고척2동  HH,HH,HH,HH  구로구
24  11440565      공덕동  HH,HH,HH,HH  마포구
25  11350595     공릉1동  LL,LL,LL,LL  노원구
26  11350600     공릉2동  LL,LL,LL,LL  노원구
27  11500620      공항동  LL,LL,LL,LL  강서구
28  11215810      광장동  LL,LH,LH,LH  광진구
29  11140590      광희동  HH,HH,HH,HH   중구
30  11110580      교남동  HH,HH,HH,HH  종로구
31  11530520     구로1동  HH,HH,HH,HH  구로구
32  11530530     구로2동  HH,HH,HL,HL  구로구
33  11530540     구로3동  LL,LL,LL,LL  구로구
34  11530550     구로4동  HL,HL,HL,HL  구로구
35  11530560     구로5동  LL,LL,LL,LL  구로구
36  11380560      구산동  LL,LL,LL,LL  은평구
37  11215850     구의1동  HL,HL,HL,HL  광진구
38  11215860     구의2동  LH,LH,LH,LH  광진구
39  11215870     구의3동  HH,HH,HH,HH  광진구
40  11215730      군자동  LL,LL,LL,LL  광진구
41  11200590    금호1가동  LH,LH,HH,LH  성동구
42  11200615  금호2.3가동  HH,HH,HH,HH  성동구
43  11200620    금호4가동  HH,HH,HH,HH  성동구
44  11740685       길동  LL,LL,LL,LL  강동구
45  11290660     길음1동  HH,HH,HH,HH  성북구
46  11290685     길음2동  LH,LH,LH,LH  성북구
47  11620585     낙성대동  LL,LL,LL,LL  관악구
48  11620775      난곡동  HH,HH,HH,HH  관악구
49  11620715      난향동  LL,LL,LL,LL  관악구

k = k.sort_values(["행정동"], ascending=True)
m_df3 = m_df3.sort_values(["행정동"], ascending=True)

In [180]:
k[k["행정동"]=="항동"]

Empty DataFrame
Columns: [행정동_코드, 행정동, 상권_변화_지표]
Index: []

In [179]:
m_df3[m_df3["행정동"]=="항동"]

     지역구 행정동
275  구로구  항동

In [175]:
pd.concat([m_df3,k], axis=1,join='inner')

      지역구   행정동    행정동_코드    행정동     상권_변화_지표
393   송파구  가락1동  11710620   가락본동  LL,LL,LL,LL
394   송파구  가락2동  11710631   가락1동  HH,HH,HH,HH
392   송파구  가락본동  11710610    삼전동  LL,LL,LL,LL
272   구로구  가리봉동  11530770   오류1동  HH,HH,HH,HH
276   금천구   가산동  11545610   독산1동  LH,LH,LH,LH
..    ...   ...       ...    ...          ...
36    용산구   효창동  11170560  원효로1동  HH,HH,HH,HH
32    용산구   후암동  11170510    후암동  LH,LH,LH,LH
81   동대문구  휘경1동  11230545    제기동  HH,HH,HH,HH
82   동대문구  휘경2동  11230560   전농1동  HH,HH,HH,LH
314   동작구   흑석동  11590651   사당5동  LL,LL,LL,HL

[424 rows x 5 columns]

In [182]:
k.to_excel("수정요망_동_상권변화지표.xlsx",encoding="utf-8")

## 지역구를 합쳐놓은 형태

In [184]:
df4 = pd.read_excel("수정요망_동_상권변화지표.xlsx")

In [186]:
df4 = df4.rename(columns={"행정동_코드":"행정동_ID","상권_변화_지표":"상권변화지표"})

In [188]:
df4[["지역구","행정동_ID", "행정동", "상권변화지표"]]

      지역구    행정동_ID   행정동       상권변화지표
0     송파구  11710631  가락1동  HH,HH,HH,HH
1     송파구  11710632  가락2동  HL,HL,HL,HL
2     송파구  11710620  가락본동  LL,LL,LL,LL
3     구로구  11530595  가리봉동  HL,HL,HL,HL
4     금천구  11545510   가산동  LL,LL,LL,LL
..    ...       ...   ...          ...
419   용산구  11170580   효창동  HH,HH,HH,HH
420   용산구  11170510   후암동  LH,LH,LH,LH
421  동대문구  11230720  휘경1동  HL,HL,HL,HL
422  동대문구  11230730  휘경2동  LH,LL,LL,LL
423   동작구  11590605   흑석동  HH,LH,LH,LH

[424 rows x 4 columns]

In [189]:
df4.to_excel("최종_행정동별_상권변화지표.xlsx",encoding="utf-8")

In [190]:
df4.상권변화지표.unique()

array(['HH,HH,HH,HH', 'HL,HL,HL,HL', 'LL,LL,LL,LL', 'HL,LL,LL,LL',
       'LL,LL,LL,LH', 'LH,LH,LH,LH', 'LL,LH,LH,LH', 'HH,HH,HL,HL',
       'LH,LH,HH,LH', 'LH,HL,HL,HH', 'HL,HH,HH,HH', 'HL,HL,LL,LL',
       'LL,LL,LL,HL', 'LH,HL,HL,HL', 'LH,LH,LH,HH', 'LH,HH,HH,HH',
       'HH,HH,HH,LH', 'HL,HL,HL,HH', 'LH,HH,HH,LH', 'LL,LL,HL,HL',
       'LH,LH,HH,HH', 'LL,LL,LH,LL', 'HL,HH,HL,HL', 'LL,LL,LH,LH',
       'HL,HL,HH,HH', 'LH,LL,LL,LL', 'HL,LL,LL,HL', 'HH,LH,LH,LH'],
      dtype=object)

In [31]:
for i in k.상권_변화_지표.unique():
    print(i)
    print(k[k["상권_변화_지표"]== i ])
    print()

HH,HH,HH,HH
      행정동     상권_변화_지표
0    가락1동  HH,HH,HH,HH
12   개봉1동  HH,HH,HH,HH
13   개봉2동  HH,HH,HH,HH
15   개포1동  HH,HH,HH,HH
16   개포2동  HH,HH,HH,HH
..    ...          ...
405  홍제2동  HH,HH,HH,HH
406  홍제3동  HH,HH,HH,HH
415   황학동  HH,HH,HH,HH
417   회현동  HH,HH,HH,HH
418   효창동  HH,HH,HH,HH

[114 rows x 2 columns]

HL,HL,HL,HL
       행정동     상권_변화_지표
1     가락2동  HL,HL,HL,HL
3     가리봉동  HL,HL,HL,HL
14    개봉3동  HL,HL,HL,HL
17    개포4동  HL,HL,HL,HL
22    고척1동  HL,HL,HL,HL
34    구로4동  HL,HL,HL,HL
37    구의1동  HL,HL,HL,HL
64    당산1동  HL,HL,HL,HL
66    대림1동  HL,HL,HL,HL
77    도곡2동  HL,HL,HL,HL
79    도봉1동  HL,HL,HL,HL
83    독산2동  HL,HL,HL,HL
84    독산3동  HL,HL,HL,HL
85    독산4동  HL,HL,HL,HL
91    둔촌2동  HL,HL,HL,HL
96    마천1동  HL,HL,HL,HL
99    망우본동  HL,HL,HL,HL
102   면목2동  HL,HL,HL,HL
106   면목7동  HL,HL,HL,HL
134   방배본동  HL,HL,HL,HL
142   방화3동  HL,HL,HL,HL
159   사당4동  HL,HL,HL,HL
167    삼양동  HL,HL,HL,HL
177   상계9동  HL,HL,HL,HL
194   서초4동  HL,HL,HL,HL
199   성내3동  HL,HL,HL,HL
218   수유1동  HL,HL,HL,HL
222   숭인2동  HL,HL,HL,HL
226   시흥4동  HL,HL,HL,HL
232   신길6동  HL,HL,HL,HL
233   신길7동  HL,HL,HL,HL
238  신대방1동  HL,HL,HL,HL
239  신대방2동  HL,HL,HL,HL
248   신월2동  HL,HL,HL,HL
249   신월3동  HL,HL,HL,HL
254   신정1동  HL,HL,HL,HL
260    신촌동  HL,HL,HL,HL
273   양재2동  HL,HL,HL,HL
286    오금동  HL,HL,HL,HL
305   월곡1동  HL,HL,HL,HL
323   일원1동  HL,HL,HL,HL
327   자양2동  HL,HL,HL,HL
337   장안1동  HL,HL,HL,HL
345   전농2동  HL,HL,HL,HL
351    조원동  HL,HL,HL,HL
366   중화2동  HL,HL,HL,HL
372    창4동  HL,HL,HL,HL
400    행운동  HL,HL,HL,HL
420   휘경1동  HL,HL,HL,HL

LL,LL,LL,LL
      행정동     상권_변화_지표
2    가락본동  LL,LL,LL,LL
4     가산동  LL,LL,LL,LL
5    가양1동  LL,LL,LL,LL
9    갈현1동  LL,LL,LL,LL
10   갈현2동  LL,LL,LL,LL
..    ...          ...
411  화곡6동  LL,LL,LL,LL
412  화곡8동  LL,LL,LL,LL
413  화곡본동  LL,LL,LL,LL
414   화양동  LL,LL,LL,LL
416   회기동  LL,LL,LL,LL

[170 rows x 2 columns]

HL,LL,LL,LL
      행정동     상권_변화_지표
6    가양2동  HL,LL,LL,LL
272  양재1동  HL,LL,LL,LL

LL,LL,LL,LH
        행정동     상권_변화_지표
7      가양3동  LL,LL,LL,LH
292  왕십리도선동  LL,LL,LL,LH
381     청구동  LL,LL,LL,LH

LH,LH,LH,LH
        행정동     상권_변화_지표
8       가회동  LH,LH,LH,LH
21     고덕2동  LH,LH,LH,LH
38     구의2동  LH,LH,LH,LH
46     길음2동  LH,LH,LH,LH
53      남현동  LH,LH,LH,LH
57      녹번동  LH,LH,LH,LH
60       능동  LH,LH,LH,LH
81      도화동  LH,LH,LH,LH
82     독산1동  LH,LH,LH,LH
86     돈암1동  LH,LH,LH,LH
119     문래동  LH,LH,LH,LH
129    발산1동  LH,LH,LH,LH
131    방배2동  LH,LH,LH,LH
139    방학3동  LH,LH,LH,LH
149     부암동  LH,LH,LH,LH
153    불광1동  LH,LH,LH,LH
155     사근동  LH,LH,LH,LH
158    사당3동  LH,LH,LH,LH
163     삼선동  LH,LH,LH,LH
169     삼청동  LH,LH,LH,LH
178    상도1동  LH,LH,LH,LH
181    상도4동  LH,LH,LH,LH
188     서림동  LH,LH,LH,LH
190     서원동  LH,LH,LH,LH
200     성북동  LH,LH,LH,LH
202    성산2동  LH,LH,LH,LH
203  성수1가1동  LH,LH,LH,LH
206  성수2가3동  LH,LH,LH,LH
215     수궁동  LH,LH,LH,LH
245     신수동  LH,LH,LH,LH
266     안암동  LH,LH,LH,LH
269    암사3동  LH,LH,LH,LH
281     연희동  LH,LH,LH,LH
282     염리동  LH,LH,LH,LH
283     염창동  LH,LH,LH,LH
285   영등포본동  LH,LH,LH,LH
291   왕십리2동  LH,LH,LH,LH
303    월계2동  LH,LH,LH,LH
310     응봉동  LH,LH,LH,LH
312    응암2동  LH,LH,LH,LH
320     이화동  LH,LH,LH,LH
333    잠실6동  LH,LH,LH,LH
349    정릉4동  LH,LH,LH,LH
376    창신3동  LH,LH,LH,LH
385     청림동  LH,LH,LH,LH
386   청운효자동  LH,LH,LH,LH
393    하계1동  LH,LH,LH,LH
398    행당1동  LH,LH,LH,LH
403    홍은2동  LH,LH,LH,LH
419     후암동  LH,LH,LH,LH

LL,LH,LH,LH
        행정동     상권_변화_지표
28      광장동  LL,LH,LH,LH
204  성수1가2동  LL,LH,LH,LH
306    월곡2동  LL,LH,LH,LH

HH,HH,HL,HL
     행정동     상권_변화_지표
32  구로2동  HH,HH,HL,HL

LH,LH,HH,LH
      행정동     상권_변화_지표
41  금호1가동  LH,LH,HH,LH

LH,HL,HL,HH
    행정동     상권_변화_지표
69  대방동  LH,HL,HL,HH

HL,HH,HH,HH
    행정동     상권_변화_지표
78  도림동  HL,HH,HH,HH

HL,HL,LL,LL
     행정동     상권_변화_지표
93  등촌2동  HL,HL,LL,LL

LL,LL,LL,HL
      행정동     상권_변화_지표
98   망우3동  LL,LL,LL,HL
160  사당5동  LL,LL,LL,HL
274  양평1동  LL,LL,LL,HL
359  중곡1동  LL,LL,LL,HL

LH,HL,HL,HL
      행정동     상권_변화_지표
105  면목5동  LH,HL,HL,HL

LH,LH,LH,HH
      행정동     상권_변화_지표
110  명일2동  LH,LH,LH,HH
185   상일동  LH,LH,LH,HH

LH,HH,HH,HH
      행정동     상권_변화_지표
154  불광2동  LH,HH,HH,HH

HH,HH,HH,LH
      행정동     상권_변화_지표
164  삼성1동  HH,HH,HH,LH
176  상계8동  HH,HH,HH,LH
237   신당동  HH,HH,HH,LH
344  전농1동  HH,HH,HH,LH

HL,HL,HL,HH
      행정동     상권_변화_지표
227  시흥5동  HL,HL,HL,HH

LH,HH,HH,LH
      행정동     상권_변화_지표
236  신당5동  LH,HH,HH,LH

LL,LL,LL,LL,LL,LL,LL,LL
     행정동                 상권_변화_지표
244  신사동  LL,LL,LL,LL,LL,LL,LL,LL

LL,LL,HL,HL
      행정동     상권_변화_지표
247  신월1동  LL,LL,HL,HL

LH,LH,HH,HH
      행정동     상권_변화_지표
252  신월6동  LH,LH,HH,HH

LL,LL,LH,LL
      행정동     상권_변화_지표
256  신정3동  LL,LL,LH,LL

HL,HH,HL,HL
     행정동     상권_변화_지표
276  여의동  HL,HH,HL,HL

LL,LL,LH,LH
      행정동     상권_변화_지표
302  월계1동  LL,LL,LH,LH
401   혜화동  LL,LL,LH,LH

HL,HL,HH,HH
      행정동     상권_변화_지표
313  응암3동  HL,HL,HH,HH

LH,LL,LL,LL
      행정동     상권_변화_지표
325  일원본동  LH,LL,LL,LL
396   한남동  LH,LL,LL,LL
421  휘경2동  LH,LL,LL,LL

HL,LL,LL,HL
      행정동     상권_변화_지표
365  중화1동  HL,LL,LL,HL

HH,LH,LH,LH
     행정동     상권_변화_지표
422  흑석동  HH,LH,LH,LH

In [114]:
nwn = pd.merge(sd,k, how="left", on="행정동")
nwn

      행정동_ID   행정동  지역구      행정동_코드     상권_변화_지표
0    1125074    길동  강동구  11740685.0  LL,LL,LL,LL
1    1125073  천호2동  강동구  11740610.0  LL,LL,LL,LL
2    1125072  암사1동  강동구  11740570.0  LL,LL,LL,LL
3    1125071  둔촌2동  강동구  11740700.0  HL,HL,HL,HL
4    1125070  둔촌1동  강동구  11740690.0  HH,HH,HH,HH
..       ...   ...  ...         ...          ...
421  1101057   무악동  종로구  11110570.0  HH,HH,HH,HH
422  1101056   평창동  종로구  11110560.0  HH,HH,HH,HH
423  1101055   부암동  종로구  11110550.0  LH,LH,LH,LH
424  1101054   삼청동  종로구  11110540.0  LH,LH,LH,LH
425  1101053   사직동  종로구  11110530.0  HH,HH,HH,HH

[426 rows x 5 columns]

In [117]:
nwn.head(100)

     행정동_ID   행정동  지역구      행정동_코드     상권_변화_지표
0   1125074    길동  강동구  11740685.0  LL,LL,LL,LL
1   1125073  천호2동  강동구  11740610.0  LL,LL,LL,LL
2   1125072  암사1동  강동구  11740570.0  LL,LL,LL,LL
3   1125071  둔촌2동  강동구  11740700.0  HL,HL,HL,HL
4   1125070  둔촌1동  강동구  11740690.0  HH,HH,HH,HH
..      ...   ...  ...         ...          ...
95  1121069   신림동  관악구  11620695.0  LL,LL,LL,LL
96  1121068   신사동  관악구  11620685.0  LL,LL,LL,LL
97  1121068   신사동  관악구  11680510.0  LL,LL,LL,LL
98  1121066   서림동  관악구  11620665.0  LH,LH,LH,LH
99  1121065   신원동  관악구  11620655.0  LL,LL,LL,LL

[100 rows x 5 columns]

In [115]:
nwn.isnull().sum()

행정동_ID      0
행정동         0
지역구         0
행정동_코드      7
상권_변화_지표    7
dtype: int64

In [75]:
nwn.isnull() == True

     행정동_ID    행정동    지역구  상권_변화_지표
0     False  False  False     False
1     False  False  False     False
2     False  False  False     False
3     False  False  False     False
4     False  False  False     False
..      ...    ...    ...       ...
419   False  False  False     False
420   False  False  False     False
421   False  False  False     False
422   False  False  False     False
423   False  False  False     False

[424 rows x 4 columns]