In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import preprocessing

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

In [3]:
import warnings
warnings.filterwarnings(action='ignore') # 경고메세지 숨기기

In [4]:
fin = pd.read_excel("1101최종본.xlsx")
fin

,gd_nm,goo_nm,dong_nm,count_bicycle,count_green,count_school,count_top,ecocar_ratio
0,강남구 개포1동,강남구,개포1동,3,2,3,0,0.069677
1,강남구 개포2동,강남구,개포2동,13,5,4,0,0.084454
2,강남구 개포4동,강남구,개포4동,8,1,2,2,0.072381
3,강남구 논현1동,강남구,논현1동,5,0,0,2,0.052272
4,강남구 논현2동,강남구,논현2동,10,0,2,4,0.055708
...,...,...,...,...,...,...,...,...
64,송파구 잠실7동,송파구,잠실7동,4,11,1,0,0.089237
65,송파구 잠실본동,송파구,잠실본동,5,8,2,4,0.052423
66,송파구 장지동,송파구,장지동,16,2,0,2,0.054360
67,송파구 풍납1동,송파구,풍납1동,4,3,0,0,0.051587
68,송파구 풍납2동,송파구,풍납2동,12,12,3,3,0.063139

In [72]:
fin.describe()

       count_bicycle  count_green  count_school  count_top  ecocar_ratio
count      69.000000    69.000000     69.000000  69.000000     69.000000
mean        9.072464     5.202899      1.478261   1.057971      0.072894
std         7.509443     6.108287      1.367788   1.464120      0.051589
min         1.000000     0.000000      0.000000   0.000000      0.033320
25%         5.000000     1.000000      0.000000   0.000000      0.050642
50%         6.000000     3.000000      1.000000   0.000000      0.062741
75%        11.000000     7.000000      2.000000   2.000000      0.073890
max        48.000000    27.000000      5.000000   8.000000      0.365737

In [33]:
eco_df = fin.copy()
eco_df.set_index("gd_nm",inplace=True)
eco_df = eco_df.drop(columns={"goo_nm","dong_nm"})

In [34]:
# standard 정규화를 통해 수요지수 생성

scaler = StandardScaler()
data = scaler.fit_transform(eco_df)

eco_norm = pd.DataFrame(data, index = list(eco_df.index), columns=list(eco_df.columns))

In [35]:
eco_norm["cb_rank"] = ""
eco_norm["cg_rank"] = ""
eco_norm["cs_rank"] = ""
eco_norm["ct_rank"] = ""
eco_norm["cr_rank"] = ""

In [36]:
n = 69
tu = {9:n*1.00, 8:n*0.96, 7:n*0.89, 6:n*0.77, 5:n*0.60, 4:n*0.40, 3:n*0.23, 2:n*0.11,1:n*0.04}

for i in tu:
    eco_norm = eco_norm.sort_values(["count_bicycle"], ascending = False)
    eco_norm["cb_rank"].iloc[:int(np.floor(tu[i]))] = i

for i in tu:
    eco_norm = eco_norm.sort_values(["count_green"], ascending = False)
    eco_norm["cg_rank"].iloc[:int(np.floor(tu[i]))] = i

for i in tu:
    eco_norm = eco_norm.sort_values(["count_school"], ascending = False)
    eco_norm["cs_rank"].iloc[:int(np.floor(tu[i]))] = i

for i in tu:
    eco_norm = eco_norm.sort_values(["count_top"], ascending = False)
    eco_norm["ct_rank"].iloc[:int(np.floor(tu[i]))] = i

for i in tu:
    eco_norm = eco_norm.sort_values(["ecocar_ratio"], ascending = False)
    eco_norm["cr_rank"].iloc[:int(np.floor(tu[i]))] = i

In [37]:
eco_norm

,count_bicycle,count_green,count_school,count_top,ecocar_ratio,cb_rank,cg_rank,cs_rank,ct_rank,cr_rank
강남구 대치1동,-0.680427,-0.528194,1.120706,-0.727892,5.718017,8,5,4,6,1
강남구 대치4동,-0.680427,0.131451,-0.352222,-0.039885,4.078406,7,4,5,4,1
강남구 역삼1동,1.197551,1.120919,-0.352222,4.776169,2.280955,3,3,6,1,2
강남구 대치2동,0.526845,1.285831,-1.088685,-0.039885,1.848090,3,2,7,4,2
강서구 가양1동,5.221789,-0.198372,0.384242,-0.727892,1.412020,1,5,5,6,2
...,...,...,...,...,...,...,...,...,...,...
강서구 화곡4동,-1.082850,-0.693106,-0.352222,-0.727892,-0.688249,9,6,5,7,8
송파구 마천1동,-0.412144,-0.858017,-0.352222,-0.727892,-0.693618,5,9,5,6,8
송파구 마천2동,-0.680427,-0.693106,-0.352222,-0.039885,-0.702521,7,6,5,5,9
강서구 화곡본동,-0.546285,-0.858017,-0.352222,-0.727892,-0.722924,6,8,5,6,9
강서구 화곡2동,-0.948709,-0.858017,-0.352222,-0.727892,-0.772716,9,7,5,6,9

In [38]:
eco_norm["sum_rank"] = eco_norm["cb_rank"]+eco_norm["cg_rank"]+eco_norm["cs_rank"]+eco_norm["ct_rank"]+eco_norm["cr_rank"]
eco_norm

,count_bicycle,count_green,count_school,count_top,ecocar_ratio,cb_rank,cg_rank,cs_rank,ct_rank,cr_rank,sum_rank
강남구 대치1동,-0.680427,-0.528194,1.120706,-0.727892,5.718017,8,5,4,6,1,24
강남구 대치4동,-0.680427,0.131451,-0.352222,-0.039885,4.078406,7,4,5,4,1,21
강남구 역삼1동,1.197551,1.120919,-0.352222,4.776169,2.280955,3,3,6,1,2,15
강남구 대치2동,0.526845,1.285831,-1.088685,-0.039885,1.848090,3,2,7,4,2,18
강서구 가양1동,5.221789,-0.198372,0.384242,-0.727892,1.412020,1,5,5,6,2,19
...,...,...,...,...,...,...,...,...,...,...,...
강서구 화곡4동,-1.082850,-0.693106,-0.352222,-0.727892,-0.688249,9,6,5,7,8,35
송파구 마천1동,-0.412144,-0.858017,-0.352222,-0.727892,-0.693618,5,9,5,6,8,33
송파구 마천2동,-0.680427,-0.693106,-0.352222,-0.039885,-0.702521,7,6,5,5,9,32
강서구 화곡본동,-0.546285,-0.858017,-0.352222,-0.727892,-0.722924,6,8,5,6,9,34
강서구 화곡2동,-0.948709,-0.858017,-0.352222,-0.727892,-0.772716,9,7,5,6,9,36

In [42]:
eco_norm.sort_values(["sum_rank"],ascending=False).head(30)

,count_bicycle,count_green,count_school,count_top,ecocar_ratio,cb_rank,cg_rank,cs_rank,ct_rank,cr_rank,sum_rank
강서구 화곡8동,-0.814568,-0.693106,-1.088685,-0.727892,-0.574776,8,7,8,7,7,37
강서구 화곡2동,-0.948709,-0.858017,-0.352222,-0.727892,-0.772716,9,7,5,6,9,36
강서구 화곡4동,-1.082850,-0.693106,-0.352222,-0.727892,-0.688249,9,6,5,7,8,35
강서구 화곡본동,-0.546285,-0.858017,-0.352222,-0.727892,-0.722924,6,8,5,6,9,34
송파구 거여1동,-0.412144,-0.693106,-1.088685,-0.727892,-0.513793,5,6,8,7,7,33
송파구 마천1동,-0.412144,-0.858017,-0.352222,-0.727892,-0.693618,5,9,5,6,8,33
강서구 가양3동,-0.546285,-0.693106,0.384242,-0.727892,-0.595876,7,6,5,6,8,32
송파구 거여2동,-0.680427,-0.858017,-1.088685,-0.727892,-0.204260,7,8,7,5,5,32
송파구 마천2동,-0.680427,-0.693106,-0.352222,-0.039885,-0.702521,7,6,5,5,9,32
강서구 화곡1동,-0.278003,-0.693106,-1.088685,-0.727892,-0.669075,5,6,7,5,8,31
송파구 석촌동,-0.546285,-0.858017,-0.352222,-0.727892,-0.434483,6,8,5,6,6,31
강서구 화곡3동,-0.814568,-0.858017,-1.088685,-0.039885,-0.333310,8,7,7,4,5,31
강남구 논현1동,-0.546285,-0.858017,-1.088685,0.648123,-0.402656,6,8,7,4,6,31
송파구 풍납1동,-0.680427,-0.363283,-1.088685,-0.727892,-0.416023,8,5,7,5,6,31
강남구 도곡1동,-0.680427,-0.693106,-1.088685,-0.727892,0.078009,7,7,6,7,3,30
송파구 방이2동,-0.948709,-0.198372,-1.088685,-0.727892,-0.264911,9,5,6,5,5,30
송파구 송파1동,-0.546285,-0.693106,-1.088685,-0.039885,-0.437537,6,7,6,4,6,29
강남구 일원1동,-0.546285,-0.198372,-1.088685,-0.727892,-0.342542,6,4,8,5,6,29
강서구 등촌1동,-0.009720,-0.528194,-1.088685,-0.727892,-0.290856,4,6,6,7,5,28
송파구 가락2동,-0.546285,-0.858017,0.384242,-0.039885,-0.112874,6,8,4,5,5,28
송파구 방이1동,-0.278003,-0.858017,1.120706,-0.039885,-0.175887,5,8,4,5,5,27
송파구 잠실6동,0.124421,0.956008,-1.088685,-0.039885,-0.672864,4,3,7,5,8,27
강서구 가양2동,-0.278003,-0.693106,1.120706,-0.727892,-0.563241,5,6,3,6,7,27
강남구 개포1동,-0.814568,-0.528194,1.120706,-0.727892,-0.062798,8,6,3,6,4,27
송파구 삼전동,-0.546285,-0.528194,-0.352222,0.648123,-0.485395,6,5,5,4,7,27
강남구 압구정동,-0.278003,-0.528194,-0.352222,-0.727892,0.048537,5,5,6,6,4,26
강서구 등촌2동,-0.412144,-0.363283,0.384242,-0.727892,-0.355078,5,5,4,6,6,26
송파구 잠실2동,-0.143862,3.594590,-1.088685,-0.727892,0.158613,4,1,9,9,3,26
송파구 가락본동,-0.278003,-0.693106,0.384242,0.648123,-0.500229,5,6,4,3,7,25
송파구 장지동,0.929268,-0.528194,-1.088685,0.648123,-0.361889,3,6,7,3,6,25

In [44]:
eco_norm.to_excel("fin_dataset_강강송.xlsx")

## 최종 dataset

In [83]:
df = pd.read_excel("real_fin_zero.xlsx")
df

,gd_nm,goo_nm,dong_ID,dong_nm,sum_pop,one_hh,cc_value,count_zero,sum_bus,sum_station,sum_rank,y,x
0,강남구 개포1동,강남구,11680660,개포1동,6670,468,0,0,1375563,0,24,37.481925,127.057439
1,강남구 개포2동,강남구,11680670,개포2동,22297,900,0,0,2063259,0,21,37.489766,127.069056
2,강남구 개포4동,강남구,11680690,개포4동,22765,1938,10,0,2191248,0,15,37.478833,127.051599
3,강남구 논현1동,강남구,11680521,논현1동,23734,6054,30,0,6614782,12558668,18,37.511498,127.028552
4,강남구 논현2동,강남구,11680531,논현2동,21997,3926,30,0,4271209,11846451,19,37.517353,127.037164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,송파구 잠실7동,송파구,11710720,잠실7동,9903,251,0,0,1491348,2999128,35,37.508661,127.077090
65,송파구 잠실본동,송파구,11710650,잠실본동,29093,5462,30,0,3519634,1537940,33,37.506167,127.084325
66,송파구 장지동,송파구,11710646,장지동,30370,2288,30,0,3540476,0,32,37.477368,127.131914
67,송파구 풍납1동,송파구,11710510,풍납1동,14585,1556,0,0,1185664,0,34,37.538055,127.122215
68,송파구 풍납2동,송파구,11710520,풍납2동,25703,2398,0,1,2236027,0,36,37.528779,127.116814

In [85]:
df["one_ratio"] = df["one_hh"]/df["sum_pop"]
df["sum_trans"] = df["sum_bus"] + df["sum_station"]

In [87]:
df2=df[['goo_nm', 'dong_nm', 'sum_rank','one_ratio', 'cc_value', 'count_zero', 'sum_trans']]

In [88]:
#df3 = df2.describe()
#df3.drop(columns={"dong_ID","dong_area","count_market"})
df2.describe()

        sum_rank  one_ratio   cc_value  count_zero     sum_trans
count  69.000000  69.000000  69.000000   69.000000  6.900000e+01
mean   24.942029   0.104735  21.811594    0.057971  6.494210e+06
std     5.329949   0.062918  12.013810    0.235401  6.615965e+06
min    15.000000   0.011957   0.000000    0.000000  6.674170e+05
25%    21.000000   0.056981  10.000000    0.000000  2.494415e+06
50%    25.000000   0.093491  30.000000    0.000000  4.490476e+06
75%    29.000000   0.141341  30.000000    0.000000  6.839578e+06
max    37.000000   0.294444  30.000000    1.000000  3.468040e+07

In [89]:
df2.sort_values(["sum_rank"],ascending=False).head(20)

   goo_nm dong_nm  sum_rank  one_ratio  cc_value  count_zero  sum_trans
59    송파구     위례동        37   0.028453        30           0    4260147
68    송파구    풍납2동        36   0.093297         0           1    2236027
64    송파구    잠실7동        35   0.025346         0           0    4490476
67    송파구    풍납1동        34   0.106685         0           0    1185664
57    송파구     오금동        33   0.064586        10           0    5773720
65    송파구    잠실본동        33   0.187743        30           0    5057574
61    송파구    잠실3동        32   0.026171         0           0    6056930
35    강서구    화곡1동        32   0.155526        30           0   19808923
66    송파구     장지동        32   0.075338        30           0    3540476
62    송파구    잠실4동        31   0.025553        30           0     667417
51    송파구    방이1동        31   0.070561        30           0    3030921
40    강서구    화곡8동        31   0.105671        30           0    2835570
48    송파구    마천2동        31   0.096962         0           0    2151979
50    송파구    문정2동        31   0.211798        30           0   13133592
14    강남구     신사동        30   0.102873        30           0   10607930
37    강서구    화곡3동        30   0.084374        30           0    1410871
52    송파구    방이2동        29   0.207310        30           0    3739499
42    송파구    가락1동        29   0.037487         0           0    9040266
39    강서구    화곡6동        28   0.134922        30           1    4761517
28    강서구    등촌3동        28   0.136639        30           0    8489932

In [63]:
df2.sort_values(["one_ratio"],ascending=False).head(20)

,gd_nm,goo_nm,dong_nm,dong_ID,sum_rank,dong_area,one_ratio,cc_value,count_zero,count_market,sum_trans
42,송파구 가락1동,송파구,가락1동,11710631,21,2.35,0.294444,30,0,2,34680403
3,강남구 논현1동,강남구,논현1동,11680521,31,4.70,0.258801,30,0,4,8522265
12,강남구 세곡동,강남구,세곡동,11680700,23,1.25,0.255077,30,0,4,19173450
25,강서구 공항동,강서구,공항동,11500620,23,0.56,0.211798,30,0,4,13133592
28,강서구 등촌3동,강서구,등촌3동,11500535,20,0.50,0.207310,30,0,1,3739499
4,강남구 논현2동,강남구,논현2동,11680531,22,1.00,0.201398,28,0,1,691995
19,강남구 일원2동,강남구,일원2동,11680740,24,0.64,0.200633,30,0,1,4085693
57,송파구 오금동,송파구,오금동,11710570,17,0.60,0.187743,30,0,0,5057574
13,강남구 수서동,강남구,수서동,11680750,21,1.47,0.178479,30,0,4,16117660
16,강남구 역삼1동,강남구,역삼1동,11680640,15,0.73,0.174990,30,0,1,15356580
39,강서구 화곡6동,강서구,화곡6동,11500591,23,1.43,0.171318,0,0,0,9145999
35,강서구 화곡1동,강서구,화곡1동,11500540,31,0.95,0.168637,30,1,2,9147707
34,강서구 우장산동,강서구,우장산동,11500615,24,0.80,0.165489,30,0,1,2513159
37,강서구 화곡3동,강서구,화곡3동,11500560,31,0.95,0.155578,30,0,2,4129834
62,송파구 잠실4동,송파구,잠실4동,11710690,25,1.12,0.155526,30,0,2,19808923
5,강남구 대치1동,강남구,대치1동,11680600,24,0.50,0.152217,26,0,0,740186
30,강서구 방화1동,강서구,방화1동,11500630,23,6.41,0.145508,30,0,2,6601462
49,송파구 문정1동,송파구,문정1동,11710641,25,0.92,0.141341,10,0,1,1202975
21,강남구 청담동,강남구,청담동,11680565,19,0.79,0.136639,30,0,1,8489932
66,송파구 장지동,송파구,장지동,11710646,25,1.11,0.134922,30,1,1,4761517

In [64]:
df2.sort_values(["cc_value"],ascending=False).head(20)

,gd_nm,goo_nm,dong_nm,dong_ID,sum_rank,dong_area,one_ratio,cc_value,count_zero,count_market,sum_trans
34,강서구 우장산동,강서구,우장산동,11500615,24,0.80,0.165489,30,0,1,2513159
47,송파구 마천1동,송파구,마천1동,11710540,33,1.36,0.052106,30,0,0,3966330
29,강서구 발산1동,강서구,발산1동,11500611,17,1.48,0.069001,30,0,3,3479648
30,강서구 방화1동,강서구,방화1동,11500630,23,6.41,0.145508,30,0,2,6601462
33,강서구 염창동,강서구,염창동,11500510,23,1.24,0.118612,30,0,3,5645521
35,강서구 화곡1동,강서구,화곡1동,11500540,31,0.95,0.168637,30,1,2,9147707
36,강서구 화곡2동,강서구,화곡2동,11500550,36,6.36,0.093491,30,0,0,5260332
37,강서구 화곡3동,강서구,화곡3동,11500560,31,0.95,0.155578,30,0,2,4129834
38,강서구 화곡4동,강서구,화곡4동,11500570,35,0.79,0.049712,30,0,1,691639
40,강서구 화곡8동,강서구,화곡8동,11500593,37,1.89,0.102873,30,0,4,10607930
41,강서구 화곡본동,강서구,화곡본동,11500590,34,2.53,0.056450,30,0,6,15315859
42,송파구 가락1동,송파구,가락1동,11710631,21,2.35,0.294444,30,0,2,34680403
43,송파구 가락2동,송파구,가락2동,11710632,28,1.15,0.107962,30,0,2,5633802
48,송파구 마천2동,송파구,마천2동,11710550,32,3.17,0.028453,30,0,0,4260147
27,강서구 등촌2동,강서구,등촌2동,11500530,26,2.20,0.070561,30,0,1,3030921
52,송파구 방이2동,송파구,방이2동,11710562,30,2.55,0.026673,30,0,1,6839578
54,송파구 석촌동,송파구,석촌동,11710600,31,1.49,0.025553,30,0,1,667417
57,송파구 오금동,송파구,오금동,11710570,17,0.60,0.187743,30,0,0,5057574
58,송파구 오륜동,송파구,오륜동,11710566,15,0.94,0.075338,30,0,0,3540476
59,송파구 위례동,송파구,위례동,11710647,23,2.33,0.099868,30,0,3,6573801

In [62]:
df2.sort_values(["sum_trans"],ascending=False).head(10)

,gd_nm,goo_nm,dong_nm,dong_ID,sum_rank,dong_area,one_ratio,cc_value,count_zero,count_market,sum_trans
42,송파구 가락1동,송파구,가락1동,11710631,21,2.35,0.294444,30,0,2,34680403
55,송파구 송파1동,송파구,송파1동,11710580,29,1.56,0.027698,20,0,5,29746442
15,강남구 압구정동,강남구,압구정동,11680545,26,2.00,0.040687,30,0,2,20849156
62,송파구 잠실4동,송파구,잠실4동,11710690,25,1.12,0.155526,30,0,2,19808923
12,강남구 세곡동,강남구,세곡동,11680700,23,1.25,0.255077,30,0,4,19173450
13,강남구 수서동,강남구,수서동,11680750,21,1.47,0.178479,30,0,4,16117660
32,강서구 방화3동,강서구,방화3동,11500641,22,1.94,0.089559,8,0,6,16102131
16,강남구 역삼1동,강남구,역삼1동,11680640,15,0.73,0.174990,30,0,1,15356580
41,강서구 화곡본동,강서구,화곡본동,11500590,34,2.53,0.056450,30,0,6,15315859
25,강서구 공항동,강서구,공항동,11500620,23,0.56,0.211798,30,0,4,13133592